:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: grid;
  /* justify-content: center; */
  width: 100%;
}

.app {
  display: grid;
  width: 100%;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.main {
  display: inline;
  width: 70%;
  align-self: flex-start;
  margin: auto;
  z-index: 0;
}

@media (min-width: 501px) {
  .main:has(.MuiDrawer-root) {
    margin-right: 370px;
    margin-left: 20px;
  }
}

.job-container {
  background-color: inherit;
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 1;
  flex-shrink: 0;
  width: 100%;
  border: 2px solid rgb(160, 200, 250);
  margin: auto;
  margin-block: 20px;
  padding: 1rem;
  box-shadow: 0px 0px 50px 5px hsla(213, 86%, 89%, 0.1);
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Playwrite DE Grund", cursive;
  margin: 2rem;
}

.filter-container {
  background-color: hsl(0, 0%, 25%);
  width: 92%;
  margin-block: 20px;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
}

.current-filters {
  display: flex;
  flex-wrap: wrap;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: white;
    }
    } */

.no-styles {
  border: 0px none;
  background-color: transparent;
  color: inherit;
  width: 100%;
  height: 100%;
  font-size: inherit;
  padding: 5px;
}

.selected-job-container {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  position: relative;
  border: 2px solid rgb(160, 200, 250);
  border-radius: 10px;
  margin-block: 20px;
  margin-left: 20px;
  padding: 25px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

@media (max-width: 500px) {
  .MuiDrawer-root {
    width: 100%;
  }

  .MuiDrawer-paper {
    width: 100%;
  }

  .main {
    width: 82%;
    justify-self: center;
    align-self: center;
  }
}
